# Copyright (c) 2023 Oracle Corporation and/or its affiliates.
# Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

api_fingerprint = ""

api_private_key_path = ""

home_region = "us-ashburn-1"

tenancy_id = ""

user_id = ""

compartment_id = ""

label_prefix = "vmc"

ssh_private_key_path = "~/.ssh/id_rsa"

ssh_public_key_path  = "~/.ssh/id_rsa.pub"

connectivity_mode = "star"

configure_clusters = true

kubernetes_version = "v1.24.1"

admin_region = {
  admin_name = "admin"
  region     = "Sydney"
  vcn_cidr   = "10.0.0.0/16"
  pods       = "10.200.0.0/16"
  services   = "10.100.0.0/16"
}

control_plane_type = "public"

clusters = {
  # Africa
  johannesburg = false

  # Asia
  chuncheon = false
  hyderabad = false
  mumbai    = false
  osaka     = false
  seoul     = false
  singapore = false
  tokyo     = false


  # Europe
  amsterdam = false
  frankfurt = false
  london    = false
  madrid    = false
  marseille = false
  milan     = false
  newport   = false
  paris     = false
  stockholm = false
  zurich    = false

  # Middle East
  abudhabi  = false
  dubai     = false
  jeddah    = false
  jerusalem = false

  # Oceania
  melbourne = false
  sydney    = false

  # South America
  santiago = false
  saupaulo = false
  vinhedo  = false

  # North America
  ashburn   = false
  chicago   = false
  montreal  = false
  phoenix   = false
  queretaro = false
  sanjose   = false
  toronto   = false
}

# verrazzano
install_verrazzano = true
verrazzano_version = "1.5.2"
verrazzano_profile = "prod"

# dns
configure_dns = false
secret_id = ""
dns_zone_id   = ""
dns_compartment_id = ""
dns_zone_name = ""