api_fingerprint = ""

api_private_key_path = ""

home_region = ""

tenancy_id = ""

user_id = ""

compartment_id = ""

label_prefix = ""

# ssh
ssh_private_key_path = ""
ssh_public_key_path  = ""

# networking
connectivity_mode = "star"

# clusters
admin_region = {
  admin_name = "admin"
  region     = "Sydney"
  vcn_cidr   = "10.0.0.0/16"
  pods       = "10.200.0.0/16"
  services   = "10.100.0.0/16"
}

get_kubeconfigs = false

kubernetes_version = "v1.24.1"

oke_control_plane = "public"

managed_clusters = {
  # Africa
  johannesburg = false

  # Asia
  chuncheon = false
  hyderabad = false
  mumbai    = false
  osaka     = false
  seoul     = false
  singapore = false
  tokyo     = false


  # Europe
  amsterdam = false
  frankfurt = false
  london    = false
  madrid    = false
  marseille = false
  milan     = false
  newport   = false
  paris     = false
  stockholm = false
  zurich    = false

  # Middle East
  abudhabi  = false
  dubai     = false
  jeddah    = false
  jerusalem = false

  # Oceania
  melbourne = true
  sydney    = false

  # South America
  santiago = false
  saupaulo = false
  vinhedo  = false

  # North America
  ashburn   = false
  chicago   = false
  montreal  = false
  phoenix   = false
  queretaro = false
  sanjose   = false
  toronto   = false
}

nodepools = {
  np1 = {
    shape            = "VM.Standard.E4.Flex",
    ocpus            = 2,
    memory           = 32,
    node_pool_size   = 3,
    boot_volume_size = 150,
  }
}

cloudinit_nodepool_common = "./cloudinit.sh"

# verrazzano
install_verrazzano = false
verrazzano_version = "1.5.3"
verrazzano_profile = "prod"

# ingress-nginx
verrazzano_control_plane = "public"

# istio ingress gateway
verrazzano_data_plane = "public"

verrazzano_load_balancer = {
  shape    = "10Mbps"
  flex_min = "50"
  flex_max = "100"
}

# verrazzano components
argocd = true
coherence = false
configure_dns = false
console = false
fluentd = true
grafana = true
jaeger = true
kiali = true
kube_state_metrics = true
opensearch = true
opensearch_dashboards = true
prometheus = true
prometheus_operator = true
rancher = true
velero = false
weblogic_operator = false

# dns
dns_compartment_id = ""
dns_zone_id        = ""
dns_zone_name      = ""
secret_id          = ""

# istio
mesh_id = "yggdrasil"
istio_model = ""