auth:
  region: us-ashburn-1
  tenancy: ocid1.tenancy.oc1..aaaa
  user: ocid1.user.oc1..aaa
  key: |
    -----BEGIN RSA PRIVATE KEY-----
    aaaa
    ....
    bbbb
    -----END RSA PRIVATE KEY-----
  fingerprint: 12:ab:34:cd:56:ef:78:ab:90:cd:
  
